@charset "UTF-8";
body {
  font-family: "Oswald", sans-serif;
}

.l-container {
  width: 75%;
  max-width: 1080px;
  margin: 0 auto;
}

/* start header */
.c-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 26px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  /* flex : vào thẻ cha để duy chuyển thẻ con */
}
.c-header__container {
  /* display: flex đưa các thẻ con lên trục chính */
  display: flex;
  /* mặc định: trục chính => chiều ngang */
  /* justify-content : trục chính */
  justify-content: space-between;
  align-items: center;
  /*  */
  /* align-items: end; */
  /* flex-direction : thay đổi chiều của trục chính*/
  /* flex-direction: column; */
}
.c-header__logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.c-header__nav a {
  text-decoration: none;
  color: black;
  margin: 0 26px;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
}
.c-header__nav a.active {
  color: #e62b4a;
}

/* end header */
/* start banner */
.c-banner {
  background-image: url(../image-video/home_slider.jpg);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-banner__container {
  color: white;
  text-align: center;
}
.c-banner__container p {
  font-size: 25px;
}
.c-banner__container h1 {
  font-size: 75px;
  font-weight: 700;
  line-height: 90px;
}
.c-banner__container button {
  font-size: 16px;
  padding: 15px 25px;
  text-transform: capitalize;
  color: white;
  background: #e62b4a;
  border: none;
  margin-top: 20px;
  transition: 0.3s;
}
.c-banner__container button:hover {
  background: #af2239;
  cursor: pointer;
}
.c-banner__container i {
  font-size: 30px;
  color: #fff;
  margin-top: 50px;
  -webkit-animation-name: arrowDown;
          animation-name: arrowDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  /* ăn translatex 1 */
  /* 0 */
}

@-webkit-keyframes arrowDown {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(40px);
    opacity: 0;
  }
}

@keyframes arrowDown {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(40px);
    opacity: 0;
  }
}
/* end banner */
.c-carousel {
  padding: 80px 0;
  background-color: #000000;
  color: #ffffff;
}
.c-carousel__title {
  text-align: center;
  margin-bottom: 50px;
}
.c-carousel__title h3 {
  font-size: 14px;
  font-weight: 300;
  color: #e62b4a;
}
.c-carousel__title h2 {
  font-size: 50px;
  font-weight: 400;
}
.c-carousel__title p {
  font-size: 16px;
  font-weight: 700;
  color: #888;
  margin-top: 20px;
}
.c-carousel__item {
  height: 230px;
  padding: 0 10px;
}
.c-carousel__container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.c-carousel__container p {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 4px;
}
.c-carousel__container::after {
  content: "";
  position: absolute;
  display: block;
  top: -100%;
  right: 0;
  width: 5px;
  height: 100%;
  background-color: #e62b4a;
  transition: all 0.2s linear;
}
.c-carousel__container:hover::after {
  top: 0;
}
.c-carousel__icon {
  font-size: 50px;
  color: #888888;
}

.slick-dots {
  bottom: -35px;
}

.slick-dots li.slick-active button::before {
  color: #e62b4a;
}

.slick-dots li button:before {
  color: #ffffff;
  opacity: 0.75;
  font-size: 14px;
}

/*blog*/
.c-blog {
  padding: 80px 0;
}
.c-blog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.c-blog__item {
  position: relative;
}
.c-blog__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(50%) contrast(50%);
}
.c-blog__item--item1 {
  grid-column: 1/3;
  grid-row: 1/3;
}
.c-blog__item--item10 {
  grid-column: 5/3;
  grid-row: 5/3;
}
.c-blog__item:hover .c-blog__overlay {
  opacity: 1;
}
.c-blog__item:hover .c-blog__icon,
.c-blog__item:hover .c-blog__title {
  transform: translateY(0px);
}
.c-blog__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 43, 74, 0.6);
  opacity: 0;
  transition: 0.5s;
}
.c-blog__icon {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: transform 0.5s;
  transform: translateY(10px);
}
.c-blog__icon:hover {
  background-color: #000000;
  color: #ffffff;
}
.c-blog__title {
  text-transform: uppercase;
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #ffffff;
  transition: 0.5s;
  transform: translateY(10px);
}
.c-blog__title p {
  color: #D0C7C8;
}

/* number couter */
.c-number {
  background-color: #000000;
  color: #ffffff;
  padding: 100px 0;
}
.c-number__flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.c-number__couter {
  font-size: 60px;
  font-weight: 300;
}
.c-number p {
  font-size: 20px;
  color: #888888;
}

/* experience*/
.c-experience {
  background-image: url(../image-video/bussiness_img_1.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.c-experience__content {
  padding: 100px 0;
  text-align: center;
}
.c-experience__content h3 {
  color: #e62b4a;
  font-size: 14px;
  font-weight: 300;
}
.c-experience__content h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 400;
  margin-top: 20px;
}
.c-experience__content p {
  color: #888888;
  font-size: 16px;
  margin-top: 20px;
}
.c-experience__content video {
  width: 100%;
  margin-top: 30px;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
}

/*contact*/
.c-contact {
  padding: 100px 0;
}
.c-contact__title {
  text-align: center;
}
.c-contact__title h2 {
  font-size: 50px;
  font-weight: 400;
}
.c-contact__title p {
  font-size: 16px;
  color: #888888;
  margin-top: 20px;
}
.c-contact__content {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.c-contact__map {
  width: 60%;
}
.c-contact__map iframe {
  width: 100%;
  height: 450px;
}
.c-contact__form {
  width: 40%;
}
.c-contact__form form {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.c-contact__form form input,
.c-contact__form form textarea {
  font-size: 15px;
  padding: 1em;
  border: 1px solid #888888;
  border-radius: 2px;
  margin-bottom: 32px;
}
.c-contact__form form input:focus,
.c-contact__form form textarea:focus {
  outline: 1px solid #000000;
}
.c-contact__form form button {
  padding: 20px 30px;
  border: 1px solid black;
  background-color: #000;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5s;
}
.c-contact__form form button:hover {
  background-color: #e62b4a;
}

/*footer*/
.c-footer {
  background-color: #000;
  color: #fff;
  padding: 100px 0;
}
.c-footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-footer__copyright {
  font-size: 14px;
}
.c-footer__follow a {
  width: 54px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  font-size: 16px;
  color: #ffffff;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin-left: 5px;
  transition: all 0.5s;
}
.c-footer__follow a:hover {
  background-color: #e62b4a;
}

/*backtotop*/
.c-backtotop {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: rgba(0, 0, 0, 0.25);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}/*# sourceMappingURL=index.css.map */