body {
  font-family: "Oswald", sans-serif;
}
.l-container {
  width: 75%;
  max-width: 1080px;
  margin: 0 auto;
}
/* start header */
.c-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 26px 0;
  border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
  /* flex : vào thẻ cha để duy chuyển thẻ con */
  &__container {
    /* display: flex đưa các thẻ con lên trục chính */
    display: flex;
    /* mặc định: trục chính => chiều ngang */
    /* justify-content : trục chính */
    justify-content: space-between;
    align-items: center;
    /*  */
    /* align-items: end; */
    /* flex-direction : thay đổi chiều của trục chính*/
    /* flex-direction: column; */
  }
  &__logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
  }
  &__nav {
    a {
      text-decoration: none;
      color: black;
      margin: 0 26px;
      color: white;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 500;
    }
    a.active {
      color: #e62b4a;
    }
  }
}
/* end header */

/* start banner */
.c-banner {
  background-image: url(../image-video/home_slider.jpg);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    color: white;
    text-align: center;
    p {
      font-size: 25px;
    }
    h1 {
      font-size: 75px;
      font-weight: 700;
      line-height: 90px;
    }
    button {
      font-size: 16px;
      padding: 15px 25px;
      text-transform: capitalize;
      color: white;
      background: #e62b4a;
      border: none;
      margin-top: 20px;
      transition: 0.3s;
      &:hover {
        background: #af2239;
        cursor: pointer;
      }
    }
    i {
      font-size: 30px;
      color: #fff;
      margin-top: 50px;
      animation-name: arrowDown;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      /* ăn translatex 1 */
      /* 0 */
    }
  }
}
@keyframes arrowDown {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(40px);
    opacity: 0;
  }
}
/* end banner */

.c-carousel {
  padding: 80px 0;
  background-color: #000000;
  color: #ffffff;
  &__title {
    text-align: center;
    margin-bottom: 50px;
    h3{
        font-size: 14px;
        font-weight: 300;
        color: #e62b4a;
    }
    h2{
        font-size: 50px;
        font-weight: 400;
    }
    p{
        font-size: 16px;
        font-weight: 700;
        color: #888;
        margin-top: 20px;
    }
  }
  &__item {
    height: 230px;
    padding: 0 10px;
  }
  &__container {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    p {
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 4px;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: -100%;
      right: 0;
      width: 5px;
      height: 100%;
      background-color: #e62b4a;
      transition: all 0.2s linear;
    }
    &:hover {
      &::after {
        top: 0;
      }
    }
  }
  &__icon {
    font-size: 50px;
    color: #888888;
  }
}
.slick-dots {
  bottom: -35px;
}
.slick-dots li.slick-active button::before {
  color: #e62b4a;
}
.slick-dots li button:before {
  color: #ffffff;
  opacity: 0.75;
  font-size: 14px;
}
/*blog*/
.c-blog {
  padding: 80px 0;
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  &__item {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(50%) contrast(50%);
    }
    &--item1 {
      grid-column: 1/3;
      grid-row: 1/3;
    }
    &--item10 {
      grid-column: 5/3;
      grid-row: 5/3;
    }
    &:hover {
      .c-blog__overlay {
        opacity: 1;
      }
      .c-blog__icon,
      .c-blog__title {
        transform: translateY(0px);
      }
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 43, 74, 0.6);
    opacity: 0;
    transition: 0.5s;
  }
  &__icon {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    transition: transform 0.5s;
    transform: translateY(10px);
    &:hover {
      background-color: #000000;
      color: #ffffff;
    }
  }
  &__title {
    text-transform: uppercase;
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #ffffff;
    transition: 0.5s;
    transform: translateY(10px);
    p{
      color: #D0C7C8;
    }
  }
}
/* number couter */
.c-number {
  background-color: #000000;
  color: #ffffff;
  padding: 100px 0;
  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
  }
  &__couter {
    font-size: 60px;
    font-weight: 300;
  }
  p {
    font-size: 20px;
    color: #888888;
  }
}
/* experience*/
.c-experience {
  background-image: url(../image-video/bussiness_img_1.jpg);
  background-size: cover;
  background-attachment: fixed;
  &__content {
    padding: 100px 0;
    text-align: center;
    h3 {
      color: #e62b4a;
      font-size: 14px;
      font-weight: 300;
    }
    h2 {
      color: #ffffff;
      font-size: 50px;
      font-weight: 400;
      margin-top: 20px;
    }
    p {
      color: #888888;
      font-size: 16px;
      margin-top: 20px;
    }
    video {
      width: 100%;
      margin-top: 30px;
      box-shadow: 0 2px 10px 1px rgba($color: #000000, $alpha: 0.5);
    }
  }
}
/*contact*/
.c-contact {
  padding: 100px 0;
  &__title {
    text-align: center;
    h2 {
      font-size: 50px;
      font-weight: 400;
    }
    p {
      font-size: 16px;
      color: #888888;
      margin-top: 20px;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  &__map {
    width: 60%;
    iframe {
      width: 100%;
      height: 450px;
    }
  }
  &__form {
    width: 40%;
    form {
      display: flex;
      flex-direction: column;
      padding: 0 15px;
      input,
      textarea {
        font-size: 15px;
        padding: 1em;
        border: 1px solid #888888;
        border-radius: 2px;
        margin-bottom: 32px;
        &:focus {
          outline: 1px solid #000000;
        }
      }
      button {
        padding: 20px 30px;
        border: 1px solid black;
        background-color: #000;
        color: #ffffff;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
          background-color: #e62b4a;
        }
      }
    }
  }
}
/*footer*/
.c-footer {
  background-color: #000;
  color: #fff;
  padding: 100px 0;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__copyright {
    font-size: 14px;
  }
  &__follow {
    a {
      width: 54px;
      height: 54px;
      text-align: center;
      text-decoration: none;
      line-height: 54px;
      font-size: 16px;
      color: #ffffff;
      display: inline-block;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      margin-left: 5px;
      transition: all 0.5s;
      &:hover {
        background-color: #e62b4a;
      }
    }
  }
}
/*backtotop*/
.c-backtotop {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: rgba(0, 0, 0, 0.25);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
